aws-modules/presets/medium/.terraform.lock.hcl
aws-modules/presets/medium/.terraform/

aws-modules/aws/postgres/sns-to-telegram.zip
aws-modules/aws/mq-broker/mq-sns-to-telegram.zip
aws-modules/aws/redis/redis-sns-to-telegram.zip
aws-modules/aws/docdb/docdb-sns-to-telegram.zip
